*{
  cursor: pointer;
}
.main {
  background-color: red;
  height: 100vh;
}

.main-header{
  background-color: rgb(17, 29, 29);
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  color:red;
  font-size: 5vh;
}

.main-body{
  background: url("../public/Netflix-Background.jpg");
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-con{
  background-color: rgba(185, 18, 18, 0.6);
  width: 20vw;
  height: 60vh;
  margin-right: 8vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: aliceblue;
}

.login-button {
  margin-bottom:15px;
  font-weight:500;
  font-size:25px;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 3px 20px;
  cursor: pointer;
}

.movie-con{
  background-color: rgba(92, 28, 28, 0.8);
  height: 70vh;
  width: 80vw;
  display: flex;
  color:white;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
}

.movie-select-title {
  font-size: 25px;
  color: white;
  font-weight: 500;
}

.movie-con-inner{
  display: flex;
  align-items: center;
  height: 50vh;
  background-color: rgba(0, 0, 0, .5);
  width: 60vw;
  border-radius: 5px;
}

.movie-con-inner-item{
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-poster{
  width: 12vw;
  height: 32vh;
  left: 713.33px;
  top: 486.88px;
  border-radius: 20px;
}